:root {
    --background: #101114;
    --primary-color: #1C1D20;
    --secondary-color: #4A4D57;
    --accent-color: #2f57de;
    --text-color: #F9F9F9;
}

.lightmode {
    --background: #efeeeb;
    --primary-color: #e3e2df;
    --secondary-color: #b5b2a8;
    --accent-color: #2f57de;
    --text-color: #060606;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: "Ubuntu", sans-serif;
    font-size: 16pt;
    color: var(--text-color);
}

body{
    min-height: 100vh;
    padding: 10px;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: var(--accent-color);
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.75rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: var(--accent-color);
}

.wrapper {
    width: 750px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#todo-input, #new-input {
    color-scheme: dark; /* needs to be changed when mode switch */
    box-sizing: border-box;
    padding: 12px 20px;
    width: 50%;
    background: none;
    border: 2px solid var(--secondary-color);
    border-radius: 1000px;
    font: inherit;
    color: var(--text-color);
    caret-color: var(--accent-color);
}

#todo-time, #todo-date, #new-time, #new-date {
    color-scheme: dark;
    box-sizing: border-box;
    padding: 12px 20px;
    width: 24%;
    background: none;
    border: 2px solid var(--secondary-color);
    border-radius: 1000px;
    font: inherit;
    color: var(--text-color);
    caret-color: var(--accent-color);
}

#todo-input:focus, #new-input:focus {
    outline: none;
}

form {
    position: relative;
}

#add-button {
    background-color: var(--accent-color);
    width: 25%;
    margin: auto;
    height: 50px;
    padding: 0 30px;
    border: none;
    border-radius: 1000px;
    font: inherit;
    font-weight: 500;
    color: var(--text-color);
    cursor: pointer;
}

#submit-edit {
    background-color: var(--accent-color);
    width: 100%;
    margin: auto;
    height: auto;
    padding: 5px 30px;
    border: none;
    border-radius: 1000px;
    font: inherit;
    font-weight: 500;
    color: var(--text-color);
    cursor: pointer;
}

.todo {
    margin-bottom: 10px;
    padding: 0 16px;
    background-color: var(--primary-color);
    border-radius: 15px;
    display: flex;
    align-items: center;
}

@media (max-width: 500px) {
    html {
        font-size: 12pt;
    }

    #todo-time, #todo-date {
        display: none;
    }

    #todo-input {
        width: 100%;
    }

    #add-button {
        height: auto;
        padding: 15px;
    }

    h1 {
        margin-top: 50px;
        font-size: 15vw;
    }
}

.todo .todo-text, .todo .todo-time, .todo .todo-date {
    padding: 15px;
    padding-right: 0;
    flex-grow: 1;
    transition: 200ms ease;
    color: var(--text-color);
}

.delete-button, .edit-button {
    padding: 3px;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.delete-button svg, .edit-button svg {
    transition: 200ms ease;
}

.delete-button:hover svg {
    fill: #ff0033;
}

#lighting {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    background-color: var(--text-color);
    border: none;
    padding: 5px;
    width: 50px;
    height: 50px;
}

.custom-checkbox {
    border: 2px solid var(--accent-color);
    border-radius: 50%;
    min-height: 20px;
    min-width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    transition: 200ms ease;
    cursor: pointer;
}

.custom-complete {
    border: 2px solid var(--accent-color);
    border-radius: 50%;
    height: 30px;
    display: flex;
    width: 30px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    transition: 200ms ease;
    cursor: pointer;
    margin: 5px;
}

input[type="checkbox"]:checked ~ .custom-checkbox {
    background-color: var(--accent-color);
}

input[type="checkbox"]:checked ~ .custom-complete {
    background-color: var(--accent-color);
}

input[type="checkbox"]:checked ~ .custom-complete svg {
    fill: var(--primary-color);
}

input[type="checkbox"]:checked ~ .todo-text,
input[type="checkbox"]:checked ~ .todo-time,
input[type="checkbox"]:checked ~ .todo-date {
    text-decoration: line-through;
    color: var(--secondary-color);
}

input[type="checkbox"] {
    display: none;
}


p {
    color: var(--text-color);
}


.modal {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content/Box */
.modal-content {
    background-color: var(--primary-color);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: none;
    width: 80%; /* Could be more or less, depending on screen size */
    border-radius: 10px;
}

/* The Close Button */
.close {
    color: var(--text-color);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: var(--secondary-color);
    text-decoration: none;
    cursor: pointer;
}
